<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flowtest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_flow"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_flow_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".SampleActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Results.ResultsActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Results.DetailsActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".Results.ResultsActivity"/>

        <receiver android:name=".Notifications.MyReceiver"
            android:enabled = "false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.flowtest.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
                <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/provider_path" />

            </provider>

        <!--
        <provider
            android:name="CachedFileProvider"
            android:authorities="com.example.flowtest.provider">
        </provider>
        -->

    </application>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- permission required to automatically restart a repeating alarm if the user reboots the device -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>



</manifest>